# Arquivos gerados pelo Bison/Flex
*.tab.c
*.tab.h
lex.yy.c

# Executáveis e objetos
*.o
*.exe
calcparser
a.out

# Executáveis das questões
QuestaoA/calc
QuestaoB/calc
QuestaoC/calc

# Arquivos do sistema
.DS_Store
*~

